README.md
CHANGELOG.md
node_modules
vendor
/.idea
/.vscode
/.git
/.github
.env
.env.local
.env.*.backup
*.log
.prettierrc
.styleci.yml
.editorconfig
.gitattributes
.gitignore

/tests
/docs
/docker-compose*.yml
/dockerignore
Dockerfile
nixpacks.toml
phpunit.xml

/public/build
/public/hot
/public/mix-manifest.json
